@model List<EstufaViewModel>

<table>
    <tr>
        <th>Ações</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Faixa Temperatura (°C)</th>
        <th>Medidor</th>
    </tr>

    @foreach (EstufaViewModel estufa in Model)
    {
        <tr>
            <td>
                <ul class="action-menu">
                    <li class="action-btn edit" onclick="window.location.href='/Estufas/Edit?id=@estufa.Id'"></li>
                    <li class="action-btn delete" onclick="deletaRegistro(@estufa.Id)"></li>
                    <li class="action-btn view" onclick="window.location.href='/Estufas/View?id=@estufa.Id'"></li>
                </ul>
            </td>
            <td>@estufa.Id</td>
            <td>@estufa.Nome</td>
            <td >
                <div class="d-flex justify-content-between">
                    @if (estufa.TemperaturaMinima == null && estufa.TemperaturaMaxima == null)
                    {
                        <span class="font-italic">Não especificado</span>
                    }
                    else
                    {
                        if (@estufa.TemperaturaMinima != null)
                        {
                            <span>Mín: @estufa.TemperaturaMinima?.ToString("F1")</span>
                        }
                        if (estufa.TemperaturaMaxima != null)
                        {
                            <span>Máx: @estufa.TemperaturaMaxima?.ToString("F1")</span>
                        }
                    }
                </div>
            </td>
            <td>@estufa.Medidor.Nome</td>
        </tr>
    }
</table>