@model List<UsuarioViewModel>

<table>
    <tr>
        <th>Ações</th>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Perfil Acesso</th>
    </tr>

    @foreach (UsuarioViewModel usuario in Model)
    {
        <tr>
            <td>
                <ul class="action-menu">
                    <li class="action-btn edit" onclick="window.location.href='/Usuarios/Edit?id=@usuario.Id'"></li>
                    <li class="action-btn delete" onclick="deletaRegistro(@usuario.Id)"></li>
                    <li class="action-btn view" onclick="window.location.href='/Usuarios/View?id=@usuario.Id'"></li>
                </ul>
            </td>
            <td>@usuario.Id</td>
            <td>@usuario.Nome</td>
            <td>@usuario.Email</td>
            <td>@usuario.PerfilAcesso.ToString()</td>
        </tr>
    }
</table>
<style>
    .icone-crud {
        width: 1.1em;
    }
</style>