@model List<UsuarioViewModel>

<table class="table table-bordered">
    <tr>
        <th class="col-1">Ações</th>
        <th class="col-1">ID</th>
        <th class="col-4">Nome</th>
        <th class="col-2">E-mail</th>
        <th class="col-2">Perfil Acesso</th>
    </tr>

    @foreach (UsuarioViewModel usuario in Model)
    {
        <tr>
            <td>
                <a href="/Usuarios/Edit?id=@usuario.Id"><img class="icone-crud mr-1" src="~/imgs/icone_lapis.png" /></a>
                <a href="javascript:deletaRegistro(@usuario.Id)"><img class="icone-crud" src="~/imgs/icone_lixeira.png" /></a>
            </td>
            <td>@usuario.Id</td>
            <td>@usuario.Nome</td>
            <td>@usuario.Email</td>
            <td>@usuario.PerfilAcesso.ToString()</td>
        </tr>
    }
</table>
<style>
    .icone-crud {
        width: 1.1em;
    }
</style>
<script>
    function deletaRegistro(id) {
        const deveDeletar = confirm('Tem certeza que deseja excluir este registro?');
        if (deveDeletar)
            document.location.href = `/Usuarios/Delete?id=${id}`;
    }
</script>